@font-face {
    font-family: Open-sans;
    src: url(fonts/OpenSans-Medium.ttf);
}
footer{
    position: relative;
    padding: 20px 30px;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    border-top: 1px #6972BB solid;
    font-family: 'Open-sans';
}
h2{
    margin-bottom: 25px;
    color: #1958A2;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
footer a{
    font-size: 0.8rem;
    text-decoration: none;
}